<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid brand-block">
        <a class="navbar-brand" href="">Turning</a>
        <span class="brand-caption">Blazor + Unity</span>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unity">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Zona Unity
            </NavLink>
        </div>
    </nav>

    <div class="sidebar-note px-3">
        Frontend listo para consumir la API y alojar los recursos visuales que salgan de Unity.
    </div>
</div>

